<p-confirmDialog></p-confirmDialog>

<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <i class="fa fa-align-justify"></i> <strong> Usuários </strong>
            </div>
           
            <div class="col-sm-6">
              <form>
              <div class="input-group">
                <select  #setor class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" >
                  <option selected>Setor...</option>
                  <option  *ngFor="let setor of setores"  value="setor.id">
                    {{setor.descricao}}
                  </option>
                  
                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button"
                  (click)="getSetorSelecionado()" >Buscar</button>
                </div>
              </div>
            </form>
            </div>

          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">

            <div class="text-center" *ngIf="colaboradores.length < 1" >
              <h5 class="text-danger"> Nenhum Colaborador listado.</h5>
              <small class="text-primary">Para realizar sua consulta escolhar um Setor. </small>
            </div>

            <table class="table table-hover" *ngIf="colaboradores.length > 0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>img</th>
                  <th>Nome</th>
                  <th>Contato</th>
                  <th>Cpf</th>
                  <th>e-Mail</th>
                  <th>Data de Nascimento</th>
                  <th>Cargo</th>
                  <th>#</th>
                </tr>
              </thead>

              <tbody *ngFor="let colaborador of colaboradores">
                <tr>
                  <td>{{colaborador.id}}</td>
                  <td>
                    <img src="assets/img/users/d5.jpg" class="img-fluid rounded-circle" alt="Responsive image"
                      style="max-width: 45px;">
                  </td>
                  <td>{{colaborador.nome}}</td>
                  <td>{{colaborador.telefone}}</td>
                  <td>{{colaborador.dataNascimento}}</td>
                  <td>{{colaborador.email}}</td>
                  <td>{{colaborador.dataNascimento}}</td>
                  <td>{{colaborador.setor.descricao}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-info btn-pill"
                      [routerLink]="['/colaborador/editar', colaborador.id]">
                      <i class="far fa-edit"></i>
                    </button>

                    <button type="button" class="btn btn-outline-danger btn-pill"
                      [routerLink]="['/colaborador/editar', colaborador.id]">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<pre>
  {{json}}
</pre>
