<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

  <p-panel>
    <p-header>
      <i class="fas fa-align-justify"></i>
      Cadastro de Colaboradores
    </p-header>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-user"></i></div>
          </div>
          <input type="text" class="form-control" id="nome" placeholder="" formControlName="nome">
        </div>
        <p-message severity="error" text="Campo Nome é Obrigatório"
          *ngIf="!formGroup.controls['nome'].valid&&formGroup.controls['nome'].dirty">
        </p-message>
      </div>

      <div class="form-group col-md-6">
        <label>e-Mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-at"></i> </div>
          </div>
          <input type="text" class="form-control" id="nome" placeholder="" formControlName="email">
        </div>

        <p-message severity="error" text="Informe o e-Mail do Usuário"
          *ngIf="!formGroup.controls['email'].valid&&formGroup.controls['email'].dirty">
        </p-message>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>CPF (<strong style="font-size: 12px"> Somente Números </strong>)</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="fas fa-receipt"></i></div>
          </div>
          <input type="text" class="form-control" mask="999.999.999-99" id="cpf" placeholder="" formControlName="cpf">
        </div>
        <p-message severity="error" text="Campo CPF é Obrigatório"
          *ngIf="!formGroup.controls['cpf'].valid&&formGroup.controls['cpf'].dirty">
        </p-message>
      </div>

      <div class="form-group col-md-4">
        <label>Telefone</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-phone-square-alt"></i></div>
          </div>
          <input type="text" class="form-control" id="contato" placeholder="" formControlName="telefone">
        </div>

        <p-message severity="error" text="Campo Contato é Obrigatório"
          *ngIf="!formGroup.controls['telefone'].valid&&formGroup.controls['telefone'].dirty">
        </p-message>
      </div>   
    </div>

 

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Departamento</label>
        <div class="input-group">
          <select  #setor class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" >
            <option selected>Setor...</option>
            <option  *ngFor="let setor of setores"  value="setor.id">
              {{setor.descricao}}
            </option>            
          </select>         
        </div>
        <p-message severity="error" text="Informe um Departamento para continuar com a operação"
          *ngIf="!formGroup.controls['setor'].valid&&formGroup.controls['setor'].dirty">
        </p-message>
      </div>

  

    </div>

    <hr />
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button  type="submit" class="btn btn-primary"
          style="margin-right: 5px" [disabled]="!formGroup.valid">Salvar
        </button>

      </div>

      <div class="ui-toolbar-group-right">
        <button  type="button"  class="btn btn-warning"  [routerLink]="['/usuario/lista']"> Listar
        </button>
      </div>

    </p-toolbar>
  </p-panel>

</form>
